body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin: 0;
    background-image: url("media/images/forest-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    width: 100%;
    min-height: 5rem;
    background-color: darkgrey;
    padding-left: 1rem;
    padding-right: 1rem;
}

.centerer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* title */
.book-information {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vmin;
    margin: 0;
    color: #f3f7f3;
}

.book-info-bg {
    background-color: rgb(19, 32, 25);
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    animation: fade-in 1s;
}

.book-information h1 {
    display: inline;
}

@font-face {
    font-family: "Reggae One";
    src: url("media/fonts/Reggae_One/ReggaeOne-Regular.ttf");
}

#alamat-ng-gubat {
    margin: 0;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Reggae One';
    text-shadow: 2px 2px orange;
}

#lit-by-bob {
    margin: 0;
    font-size: 2rem;
    font-weight: 200;
    font-family: "Reggae One";
    text-shadow: 1px 1px red;
}

#book-img {
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.7));
    width: 100%;
    transition: transform 0.2s;
}

#book-img:hover {
    transform: scale(1.1);
}

.book-info {
    padding: 3rem;
}

/* introduction */
.introduction {
    min-height: 100vmin;
    background-image: linear-gradient(180deg, #FFFFFFFF 0%, #D1FFD7FF 100%);
    margin: 0;
    display: flex;
    color: rgb(39, 28, 5);
    padding: 2rem;
}

#introduction {
    margin: 0;
    font-size: 4rem;
    padding: 20px;
    text-align: center;
    font-family: 'Reggae One';
    text-shadow: 2px 2px goldenrod;
}

.introduction-text {
    padding: 2rem;
    flex: 1;
}

.introduction-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-image {
    padding: 3rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-img {
    width: 50%;
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.7));
    transition: transform 0.2s;
}

#intro-img:hover {
    transform: scale(1.1);
}

/* paragraphs */
.paragraph {
    padding: 1rem;
    text-indent: 2rem;
    font-size: 18px;
    background-color: rgb(238, 156, 131);
    border-radius: 20px 20px 0 20px;
    line-height: 1.5;
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.7));
    transition: transform 0.2s, background-color 0.2s;
}

.paragraph:hover {
    transform: scale(1.1);
    background-color: aliceblue;
}

/* summary */
.summary {
    min-height: 100vmin;
    background-image: linear-gradient(180deg, rgba(209, 255, 215, 1) 0%, rgba(255, 255, 233, 0) 100%);
    margin: 0;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.summary-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem 5rem;
    padding: 2rem;
    min-height: 100%;
}

.summary-item {
    background-color: azure;
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.7));
    border-radius: 20px 20px 20px 0;
    padding: 2rem;
    text-indent: 2rem;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    transition: transform 0.2s, background-color 0.2s;
}

.summary-item:hover {
    transform: scale(1.1);
    background-color: lightcyan;
}

.summary-image {
    background-color: lightcoral;
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.3));
    min-width: 128px;
    min-height: 128px;
}

#summary {
    margin: 0;
    font-size: 4rem;
    padding: 20px;
    text-align: center;
    font-family: 'Reggae One';
    text-shadow: 2px 2px salmon;
}

/* explanation */
.explanation {
    text-align: center;
    min-height: 100vmin;
    background-image: linear-gradient(180deg, #FFFFFFFF 0%, #FFDAB9FF 100%);
    margin: 0;
    padding: 2rem;
    color: rgb(41, 34, 21);
    display: flex;
    flex-direction: column;
}

.explanation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    flex: 5;
}

#ppt {
    width: 952px;
    height: 576px;
}

.explanation-item {
    padding: 2rem;
    background-color: beige;
    border-radius: 20px;
    margin: 2rem;
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.7));
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    gap: 1rem;
    transition: transform 0.2s;
}

.explanation-item:hover {
    transform: scale(1.1);
}

.explanation-item h1 {
    display: inline;
}

.explanation-image {
    background-color: lightsalmon;
    min-width: 256px;
    min-height: 256px;
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.7));
}

#explanation {
    margin: 0;
    font-size: 4rem;
    padding: 20px;
    font-family: 'Reggae One';
    text-shadow: 2px 2px brown;
}

/* conclusion */
.conclusion {
    min-height: 100vmin;
    background-image: linear-gradient(0deg, #FFFFFF00 0%, #FFDAB9FF 100%);
    margin: 0;
    padding: 2rem;
}

.conclusion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem;
    gap: 3rem;
}

.conclusion-item {
    background-color: lightgoldenrodyellow;
    text-indent: 2rem;
    font-size: 18px;
    padding: 1rem;
    border-radius: 20px 20px 0 20px;
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.7));
    width: 50%;
    transition: transform 0.2s;
}

.conclusion-item:hover {
    transform: scale(1.1);
}

#conclusion {
    margin: 0;
    font-size: 3rem;
    padding: 20px;
}

#conclusion-quote {
    font-size: 5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    text-indent: 1rem;
    padding: 3rem;
    font-family: 'Reggae One';
    text-shadow: 2px 2px green;
}

/* credits */
.credits {
    min-height: 100vmin;
    margin: 0;
    padding: 2rem;
    background-color: rgb(224, 208, 208);
}

.credits-container {
    display: flex;
    gap: 3rem;
}

.members-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    width: 50%;
    padding: 1rem;
}

.credits-item {
    background-color: rgba(132, 218, 132, 0.815);
    padding: 2rem;
    border-radius: 20px 20px 20px 0;
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.7));
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

.credits-item:hover {
    transform: scale(1.1);
}

.credits-item h2 {
    margin: 0;
    padding: 1rem;
}

.credits-item h3 {
    margin: 0;
    padding: 1rem;
}

.credit-image {
    background-color: white;
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.7));
    border-radius:  50%;
    min-width: 128px;
    min-height: 128px;
    max-width: 128px;
    max-height: 128px;
}

#credits {
    margin: 0;
    font-size: 3rem;
    padding: 20px;
    text-align: center;
    font-family: 'Reggae One';
    text-shadow: 2px 2px orange;
}

.sources {
    background-color: rgba(250, 235, 215, 0.726);
    width: 50%;
    border-radius: 20px;
    padding: 1rem;
    filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.7));
    transition: transform 0.2s;
}

.sources:hover {
    transform: scale(1.05);
}

 #sources {
    text-align: center;
 }

 /* Responsive design */
 /* bruh i didn't make this mobile first i regret this */
 @media (max-width: 600px) {
    /* title */
    .book-info-bg {
        flex-direction: column;
        align-items: center;
    }

    .book-info {
        padding: 1rem;
    }

    #alamat-ng-gubat {
        font-size: 2rem;
    }

    #book-img {
        width: 50%;
    }

    .book-img {
        display: flex;
        justify-content: center;
    }

    /* introduction */
    .introduction {
        flex-direction: column;
    }

    .introduction-text {
        padding: 0;
    }

    #introduction {
        padding: 0;
        font-size: 3rem;
    }

    .paragraph {
        font-size: 16px;
    }

    .book-image {
        padding: 0;
    }

    #intro-img {
        width: 75%;
    }

    /* summary */
    .summary {
        padding: 2rem;
    }

    .summary-grid {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .summary-item {
        flex-direction: column;
        font-size: 16px;
    }

    #summary {
        font-size: 3rem;
        padding: 2rem;
    }

    /* explanation */
    .explanation-container {
        flex-direction: column;
        margin: 0;
        padding: 1rem;
        gap: 3rem;
    }

    #explanation {
        padding: 1rem;
    }

    .explanation-item {
        margin: 0;
        font-size: 16px;
    }

    /* conclusion */
    #conclusion-quote {
        font-size: 3rem;
    }

    .conclusion-container {
        padding: 1rem;
    }

    .conclusion-item {
        width: 100%;
        font-size: 16px;
    }

    /* credits */
    #credits {
        padding: 0;
    }

    .credits-container {
        flex-direction: column;
    }

    .members-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .sources {
        width: 100%;
        padding: 0;
    }
} 